<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://ogp.me/ns/fb#">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <title>Blocks for Change</title>
      <link rel="shortcut icon" href="icon16.ico" type="image/x-icon">
      <meta property="og:image" content="http://www.blocksforchange.org/public/img/img-share.jpg" />
      <meta property="og:title" content="Blocks for Change - A charitable dashboard for Chrome"/>
      <meta property="og:description" content="Let's change the way charitable donations work. Click to learn more!"/>
      <meta property="og:image:width" content="450"/>
      <meta property="og:image:height" content="298"/>
      <link rel="stylesheet" href="public/css/index.css">
      <link rel="stylesheet" href="libs/font-awesome-4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="libs/fullPage/jquery.fullPage.css" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
      <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ibohcmhgdefdgdcncpgjoogdenojmjmo">
      <script type="text/javascript" src="libs/angular/angular.min.js"></script>
      <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="libs/fullPage/jquery.fullPage.js"></script>
      <script type="text/javascript" src="libs/fullPage/scrolloverflow.min.js"></script>
      <script src="libs/angular/angular-translate.min.js"></script>
      <script src="libs/angular/typer.min.js"></script>
    </head>
    <body ng-cloak ng-app="blockchange" ng-controller="mainController as vm">
      <div class="web__navbar" ng-class="{'text--dark': vm.whiteBg, 'text--light': !vm.whiteBg}">
        <div class="web__navbar__content-wrapper">
          <div class="navbar__logo-wrapper">
            <img class="navbar__logo-wrapper__logo"
              ng-src="{{vm.whiteBg ? './public/img/logo-black.png' : './public/img/logo.png'}}">
            <p class="navbar__logo-wrapper__text">Blocks<br>for<br>Change</p>
          </div>
          <div class="social-share__wrapper">
            <div class="social-share__cta">
              {{ 'HELP_GROW' | translate }} <i class="fa fa-share-alt"></i>
            </div>
            <div class="social-share__buttons">
              <ul class="share-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fblocksforchange.org&t=" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="./public/img/social-icons/Facebook.png" /></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fblocksforchange.org&text=:%20http%3A%2F%2Fblocksforchange.org" target="_blank" title="Tweet"><img alt="Tweet" src="./public/img/social-icons/Twitter.png" /></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fblocksforchange.org&title=&summary=&source=http%3A%2F%2Fblocksforchange.org" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="./public/img/social-icons/LinkedIn.png" /></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a href="https://join.slack.com/t/blocksforchange/shared_invite/enQtMjc3NDE1Mzc3NTIxLWFlYjY5ZTczNmE4YmVlZWNlOTQ3NDFmYTM1MDAzOWY5ZjE0NWNmNWU0OGUyNjQ3MWM0OTkyYjlkNWNhM2QwYWY" target="_blank" class="slack-link"
        ng-class="{'text--dark': vm.whiteBg, 'text--light': !vm.whiteBg}">
        <div class="fa fa-2x fa-slack"></div>
        <span class="slack-link__text">{{ 'JOIN_SLACK' | translate }}</span>
      </a>
      <div full-page options="vm.fullPageOptions">
        <div class="section cover-section"
        ng-style="{'background-image':'url(public/img/img-' + vm.randomImageId + '.jpg)'}"
        >
          <div class="image-overlay" ></div>
          <div class="cover-section__top-third">
          </div>

          <div class="cover-section__middle-third">
            <div class="cover-section__clock" ng-init="vm.setClock()">
              {{vm.windowState.time}}
            </div>
            <div class="cover-section__salutation">
              {{vm.windowState.salutation | translate}}, <typer words="vm.namesArray[vm.languageCode]" type-time='150' backspace-time='0' start-delay='1000' pause="750" highlight-background='none'></typer>
            </div>  
          </div>

          <div class="cover-section__bottom-third">
            <div class="cover-section__cta" ng-init="vm.setClock()">
              {{'FRONT_PAGE.PROMPT' | translate}}
            </div>
            <div ng-click="vm.installExtension()" class="cover-section__download">
              {{'ADD_TO_CHROME' | translate}}
            </div>
          </div>
        </div>
        <div class="section why-section"
          ng-class="{'text--dark': vm.whiteBg, 'text--light': !vm.whiteBg}">
          <div ng-click="vm.installExtension()" class="persistent__download">
            {{'ADD_TO_CHROME' | translate}}
          </div>
          <div ng-show="vm.showWhyContent" class="why-section__content-wrapper">
            <div class="why-section__text-wrapper__main">
              {{'WHY_PAGE.TITLE' | translate}}
            </div>
            <div class="why-section__text-wrapper__explanation">
              {{'WHY_PAGE.TEXT' | translate}}
            </div>
          </div>
        </div>
        <div class="section how-section"
          ng-class="{'text--dark': vm.whiteBg, 'text--light': !vm.whiteBg}">
          <div ng-click="vm.installExtension()" class="persistent__download">
            {{'ADD_TO_CHROME' | translate}}
          </div>
          <div ng-show="vm.showHowContent" class="how-section__content-wrapper">
            <div class="how-section__text-wrapper__main">
              {{'HOW_PAGE.TITLE' | translate}}
            </div>
            <div class="how-section__text-wrapper__explanation">
              {{'HOW_PAGE.TEXT' | translate}}
            </div>
            <div class="how-section__money-counter">
              <input type="number" name="users" min="0" step="1000" ng-model="vm.userCount" ng-model-options="{ allowInvalid: true }" ng-change="vm.updateMoney()" class="money-counter__input">
              <span>
                {{'HOW_PAGE.USERS' | translate}} = {{vm.revenue}} {{'HOW_PAGE.UNIT' | translate}}
              </span>
            </div>
          </div>
        </div>
        <div class="section what-section text--light"
        ng-class="{'text--dark': vm.whiteBg, 'text--light': !vm.whiteBg}">
          <div ng-click="vm.installExtension()" class="persistent__download">
            {{'ADD_TO_CHROME' | translate}}
          </div>
          <div ng-show="vm.showWhatContent" class="what-section__content-wrapper">
            <div class="what-section__text-wrapper__main">
              {{'WHAT_PAGE.TITLE' | translate}}
            </div>
            <div class="what-section__text-wrapper__explanation">
              {{'WHAT_PAGE.TEXT' | translate}}
            </div>
            <div ng-click="vm.installExtension()" class="what-section__download">
              {{'ADD_TO_CHROME' | translate}}
            </div>
          </div>
        </div>
        <div class="section faq-section text--light">
          <div class="slide">
            <div ng-click="vm.installExtension()" class="persistent__download">
              {{'ADD_TO_CHROME' | translate}}
            </div>
            <div ng-show="vm.showFAQContent" class="faq-section__content-wrapper">
              <div class="faq-section__text-wrapper__main">
                {{'FAQ.TITLE' | translate}}
              </div>
              <div class="faq-section__text-wrapper__explanation">
                {{'FAQ.TEXT' | translate}}
              </div>
              <form id="contact-form" class="contact-form" action="https://formspree.io/helloleiaai@gmail.com"
                    method="POST">
                  <div class="contact-form__name-and-email-wrapper">
                    <input class="contact-form__field" type="text" name="name" placeholder="{{'NAME' | translate}}" required="true">
                    <input class="contact-form__field" type="email" name="_replyto" placeholder="{{'EMAIL' | translate}}" required="true">
                  </div>
                  <textarea form="contact-form" maxlength="500" style="width: 100%" class="contact-form__field" type="textarea" name="_message" placeholder="{{'MESSAGE' | translate}}" required="true"></textarea>
                  <input class="contact-form__btn" type="submit" value="{{'SEND' | translate}}">
                  <input type="text" name="_gotcha" style="display:none" />
              </form>
            </div>
          </div>
          <div class="slide faq-section text--light">
            <div class="faq-section__slide-wrapper">
              <div class="faq-section__question-wrapper">
                <div class="faq-section__slide-question">
                  {{'FAQ.ONE.QUESTION' | translate}}
                </div>
                <div class="faq-section__slide-answer">
                  {{'FAQ.ONE.ANSWER' | translate}}
                </div>
              </div>

              <div><br><br></div>

              <div class="faq-section__question-wrapper">
                <div class="faq-section__slide-question">
                  {{'FAQ.TWO.QUESTION' | translate}}
                </div>
                <div class="faq-section__slide-answer">
                  {{'FAQ.TWO.ANSWER' | translate}}
                </div>
              </div>

              <div><br><br></div>

              <div class="faq-section__question-wrapper">
                <div class="faq-section__slide-question">
                  {{'FAQ.THREE.QUESTION' | translate}}
                </div>
                <div class="faq-section__slide-answer">
                  {{'FAQ.THREE.ANSWER' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script type="text/javascript" src="js/app.js"></script>
      <script type="text/javascript" src="js/lang.js"></script>
      <script type="text/javascript" src="js/factory/motivation-factory.js"></script>
      <script type="text/javascript" src="js/controllers/main-controller.js"></script>
      <script type="text/javascript" src="libs/fullPage/angular-fullpage.min.js"></script>
    </body>
</html>
