html {
  font-size: 16px;
  color: #fff;
}

body {
  font-family: "Roboto", "Lucida Grande", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background: #191919;
}

.web__navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 100;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web__navbar__content-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-wrapper {
  display: flex;
}

.navbar__logo-wrapper__logo {
  width: 95px;
  height: 95px;
}

.navbar__logo-wrapper__text {
  font-weight: 100;
  font-size: 1rem;
  margin-left: 10px;
}

.text--light {
  color: white
}

.text--dark {
  color: black
}

.social-share__wrapper {
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover-section__top-third,
.cover-section__middle-third,
.cover-section__bottom-third {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-section__top-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

.cover-section__middle-third,
.cover-section__bottom-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 37.5%;
}

.cover-section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
}

.cover-section {
  -webkit-animation: fade-in 3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: default;
  justify-content: center;
  z-index: 0
}

.cover-section__cta {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cover-section__clock {
  font-size: 9.5em;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cover-section__salutation {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cover-section__download {
  border: 3px solid white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 40px;
  transition: background, color, 0.5s;
  background: none;
  margin-top: 20px;
}

.cover-section__download:hover {
  transition: background, color, 0.5s;
  background: white;
  color: black;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

/********************************SOCIAL SHARE************************************/
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/********************************SECTIONS************************************/
.why-section,
.how-section,
.what-section {
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0
}

.why-section__content-wrapper,
.how-section__content-wrapper,
.what-section__content-wrapper {
  max-width: 1000px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-name: fade-in, slide-up;
  -webkit-animation-duration: 3s, 1.5s
}

.why-section__text-wrapper__main,
.how-section__text-wrapper__main,
.what-section__text-wrapper__main {
  font-size: 4.2rem;
  font-weight: 200;
  margin: 0 0 20px 0;
}
.why-section__text-wrapper__explanation,
.how-section__text-wrapper__explanation,
.what-section__text-wrapper__explanation {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 20px 0;
}

.how-section {
  background-image: url('../img/img-how.jpg');
  background-size: cover;
  background-color: #191919;
  padding: 6% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0
}

.how-section__content-wrapper {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-name: fade-in, slide-up;
  -webkit-animation-duration: 3s, 1.5s
}

.how-section__money-counter {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 0 0 20px 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.money-counter__input {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 0 auto;
  padding-top: 15px;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: 0;
  text-align: center;
  width: 300px;
}

.what-section__download {
  border: 3px solid black;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 40px;
  transition: background, color, 0.5s;
  background: none;
  margin-top: 20px;
}

.what-section__download:hover {
  border: 3px solid black;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 40px;
  transition: background, color, 0.5s;
  margin-top: 20px;
}









