html {
  font-size: 16px;
  color: #fff;
}

body {
  font-family: "Roboto", "Lucida Grande", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background: #191919;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.image-overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #505050;
  opacity: 0.3;
}

.slack-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-weight: 100;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.slack-link__text {
  margin-left: 5px;
  margin-bottom: 3px;
}

.web__navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 100;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web__navbar__content-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-wrapper {
  display: flex;
}

.navbar__logo-wrapper__logo {
  width: 95px;
  height: 95px;
}

.navbar__logo-wrapper__text {
  font-weight: 100;
  font-size: 1rem;
  margin-left: 10px;
}

.text--light {
  color: #fdfdfd
}

.text--dark {
  color: #333333
}

.social-share__wrapper {
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover-section__top-third,
.cover-section__middle-third,
.cover-section__bottom-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.cover-section__top-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

.cover-section__middle-third,
.cover-section__bottom-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 37.5%;
}

.cover-section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
}

.cover-section {
  -webkit-animation: fade-in 3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: default;
  justify-content: center;
  z-index: 0
}

.cover-section__cta {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  color: #fdfdfd;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cover-section__clock {
  font-size: 9.5em;
  font-weight: 500;
  color: #fdfdfd;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cover-section__salutation {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
  color: #fdfdfd;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cover-section__download {
  border: 3px solid #fdfdfd;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 40px;
  transition: background, color, 0.5s;
  background: none;
  margin-top: 45px;
}

.cover-section__download:hover {
  transition: background, color, 0.5s;
  background: #fdfdfd;
  color: #333333;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

/********************************SOCIAL SHARE************************************/
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/********************************SECTIONS************************************/
.why-section,
.how-section,
.what-section,
.faq-section {
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0
}

.why-section__content-wrapper,
.how-section__content-wrapper,
.what-section__content-wrapper,
.faq-section__content-wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-name: fade-in, slide-up;
  -webkit-animation-duration: 3s, 1.5s
}

.why-section__text-wrapper__main,
.how-section__text-wrapper__main,
.what-section__text-wrapper__main,
.faq-section__text-wrapper__main {
  font-size: 4.2rem;
  font-weight: 200;
  margin: 0 0 20px 0;
}
.why-section__text-wrapper__explanation,
.how-section__text-wrapper__explanation,
.what-section__text-wrapper__explanation,
.faq-section__text-wrapper__explanation {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 20px 0;
}

.how-section {
  background-image: url('../img/img-how.jpg');
  background-size: cover;
  background-color: #191919;
  padding: 6% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0
}

.how-section__content-wrapper {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-name: fade-in, slide-up;
  -webkit-animation-duration: 3s, 1.5s
}

.how-section__money-counter {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 0 0 20px 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.money-counter__input {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 0 auto;
  padding-top: 15px;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: 0;
  text-align: center;
  width: 300px;
}

.what-section__download {
  border: 3px solid #333333;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 40px;
  transition: background, color, 0.5s;
  background: none;
  margin-top: 20px;
}

.what-section__download:hover {
  border: 3px solid #333333;
  cursor: pointer;
  color: #fdfdfd;
  background-color: #333333;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 40px;
  transition: background, color, 0.5s;
  margin-top: 20px;
}

/********************************FAQ SECTION************************************/
.hide-nav {
  display: none
}

.faq-section {
  background: #1e65a9;
}

.faq-section__content-wrapper {
  justify-content: center;
  height: 100%;
}

.faq-section__slide-wrapper {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: fade-in, slide-up;
  -webkit-animation-duration: 3s, 1.5s
}

.faq-section__question-wrapper {

}

.faq-section__slide-question {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0 0 20px 0;
}

.faq-section__slide-answer {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0 0 20px 0;
  text-align: justify;
}

/********************************CONTACT FORM************************************/

.contact-form {
  margin-top: 20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}

.contact-form__name-and-email-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-form__field {
  color: #fdfdfd;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #fdfdfd;
  background: #1e65a9;
  padding: 10px;
  margin: 0 0 20px 0;
  width: 43%;
}
.contact-form__field::-webkit-input-placeholder, .contact-form__btn {
  color: #fdfdfd;
  font-size: 14px;

}

.contact-form__field::-moz-placeholder {
  color: #fdfdfd
}

.contact-form__btn {
  padding: 10px;
  font-weight: bold;
  background: #1e65a9;
  border: 2px solid #fdfdfd;
  border-radius: 10px;
  width: 150px;
  color: #fdfdfd;

}
 .contact-form__btn:hover {
  background: #fdfdfd;
  color: #1e65a9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
