<div class="mining-for__container">
  <div class="mining-for__spinner">
    <div ng-class="{'la-2x la-ball-scale-multiple': vm.minerStatus, 'fa fa-3x fa-ban': !vm.minerStatus}">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="mining-for__text">
    <p class="mining-for__text--initial">
      {{vm.displayedText.initial[vm.minerStatus ? 'on' : 'off']}}
    </p>
    <p class="mining-for__text--secondary"
      ng-style="vm.minerStatus ? {'cursor': 'pointer'} : {'cursor': 'default'}"
      ng-click="vm.openTab()">
      {{vm.displayedText.secondary[vm.minerStatus ? 'on' : 'off']}}
    </p>
  </div>
</div>